<a href="https://colab.research.google.com/github/Sadiatumpa60/MachineLearning_Implementation_Drosophila-model-of-Parkinson-s-disease/blob/main/Tuined_of_498R_Final_MODELRUN_EntireDataSet(IntensityAndm_z)_ROC%26ACCURACY_CURVE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# import important library
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns
from scipy import stats
import os
from collections import Counter

%matplotlib inline
import pickle
import warnings
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.base import clone
from sklearn.preprocessing import label_binarize
from scipy import interp
from sklearn.metrics import roc_curve, auc 

from matplotlib.legend_handler import HandlerLine2D
import time

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score

from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score
#from sklearn.externals import joblib

In [ ]:
control_data = pd.read_csv('/content/drive/MyDrive/498R_DATASET/Peptide for AI_Control_labeled.csv')
control_data.head()

,m/z,Intensity 7010_day_1_1,Intensity 7010_day_10_1,Intensity 7010_day_10_2,Intensity 7010_day_30_1,label
0,906.4177667,0,0,0,0,0
1,505.29365,0,0,0,0,0
2,724.42315,0,0,0,0,0
3,950.99995,0,0,0,0,0
4,737.8244,3682700000,2969100000,3152400000,2493200000,0

In [ ]:
control_data.tail()

,m/z,Intensity 7010_day_1_1,Intensity 7010_day_10_1,Intensity 7010_day_10_2,Intensity 7010_day_30_1,label
35595,750.3712,0,0,27323000,0,0
35596,537.2875,0,0,0,4375900,0
35597,591.2983667,0,0,19763000,0,0
35598,716.0176,0,0,0,0,0
35599,732.9861667,0,0,8431400,0,0

In [ ]:
control_data

,m/z,Intensity 7010_day_1_1,Intensity 7010_day_10_1,Intensity 7010_day_10_2,Intensity 7010_day_30_1,label
0,906.4177667,0,0,0,0,0
1,505.29365,0,0,0,0,0
2,724.42315,0,0,0,0,0
3,950.99995,0,0,0,0,0
4,737.8244,3682700000,2969100000,3152400000,2493200000,0
...,...,...,...,...,...,...
35595,750.3712,0,0,27323000,0,0
35596,537.2875,0,0,0,4375900,0
35597,591.2983667,0,0,19763000,0,0
35598,716.0176,0,0,0,0,0
35599,732.9861667,0,0,8431400,0,0

In [ ]:
# Removing 0
control_data_new=control_data[control_data['Intensity 7010_day_1_1']!=0]
control_data_new=control_data_new[control_data_new['Intensity 7010_day_10_1']!=0]
control_data_new=control_data_new[control_data_new['Intensity 7010_day_10_2']!=0]
control_data_new=control_data_new[control_data_new['Intensity 7010_day_30_1']!=0]

In [ ]:
control_data.dtypes

m/z                        object
Intensity 7010_day_1_1      int64
Intensity 7010_day_10_1     int64
Intensity 7010_day_10_2     int64
Intensity 7010_day_30_1     int64
label                       int64
dtype: object

In [ ]:
control_data.describe()

,Intensity 7010_day_1_1,Intensity 7010_day_10_1,Intensity 7010_day_10_2,Intensity 7010_day_30_1,label
count,3.560000e+04,3.560000e+04,3.560000e+04,3.560000e+04,35600.0
mean,1.879380e+08,1.339585e+08,2.087711e+08,1.543137e+08,0.0
std,1.032623e+09,7.545374e+08,1.344889e+09,8.894701e+08,0.0
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,1.111450e+07,0.000000e+00,8.504900e+06,0.000000e+00,0.0
75%,7.773325e+07,4.831600e+07,7.665175e+07,4.953175e+07,0.0
max,5.239800e+10,3.738100e+10,9.638200e+10,3.147000e+10,0.0

Training Section

In [ ]:
#import libraries

import pandas as pd # for reading .csv files
import matplotlib.pyplot as plt # for ploting figures
import numpy as np # for linear algebra
import os  # for creating and removing a directory (folder)
from scipy import stats # for Statistics computing 
import seaborn as sns # for ploting figures
#%matplotlib inline sets the backend of matplotlib to the 'inline' backend
%matplotlib inline

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/498R_DATASET/498r-abarKoraDataset-12feature.csv')
dataset.head()

               m/z  label   intensity
0  906.41776666667      1           0
1        505.29365      1           0
2  482.94876666667      1           0
3        950.99995      1     7488100
4         737.8244      1  3036800000

In [ ]:
dataset.tail()

                    m/z  label  intensity
427135         750.3712      0          0
427136         537.2875      0    4873400
427137  591.29836666667      0   11530000
427138         716.0176      0          0
427139  732.98616666667      0          0

In [ ]:
dataset.count()

m/z          427140
label        427140
intensity    427140
dtype: int64

In [ ]:
dataset.dtypes

m/z          object
label         int64
intensity     int64
dtype: object

In [ ]:
#Converting m/z into float obeject to float
dataset=dataset[pd.to_numeric(dataset['m/z'], errors='coerce').notnull()]
dataset['m/z']=dataset['m/z'].astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
dataset.head()

          m/z  label   intensity
0  906.417767      1           0
1  505.293650      1           0
2  482.948767      1           0
3  950.999950      1     7488100
4  737.824400      1  3036800000

In [ ]:
dataset.dtypes

m/z          float64
intensity      int64
label          int64
dtype: object

In [ ]:
dataset.shape

(427140, 3)

In [ ]:
dataset.describe()

               label     intensity
count  427140.000000  4.271400e+05
mean        0.500000  1.564081e+08
std         0.500001  1.032762e+09
min         0.000000  0.000000e+00
25%         0.000000  0.000000e+00
50%         0.500000  0.000000e+00
75%         1.000000  4.618100e+07
max         1.000000  9.638200e+10

In [ ]:
# Removing rows with 0 Intensity

dataset1=dataset[dataset['m/z']!='#VALUE!']

In [ ]:
print(dataset['label'].value_counts())

1    213522
0    213522
Name: label, dtype: int64

In [ ]:
#Converting m/z into float obeject to float
dataset=dataset[pd.to_numeric(dataset['m/z'], errors='coerce').notnull()]
dataset['m/z']=dataset['m/z'].astype('float')

In [ ]:
dataset.head()

               m/z  label   intensity
0  906.41776666667      1           0
1        505.29365      1           0
2  482.94876666667      1           0
3        950.99995      1     7488100
4         737.8244      1  3036800000

In [ ]:
cols = dataset.columns.tolist()

In [ ]:
# pk = parkinson prediction
pk_features = dataset[cols[:-1]]
pk_features_names=pk_features.columns
pk_class_labels = dataset['label']

stp_train_X, stp_test_X, stp_train_y, stp_test_y = train_test_split(pk_features, 
             pk_class_labels, test_size=0.3, random_state=42)

#print(Counter(stp_train_y), Counter(stp_test_y))
#print('Features:', list(pk_features_names))

In [ ]:
#import numpy as np
#from sklearn import svm
#clf = svm.SVC(kernel ='linear', C = 10)
#clf.fit(stp_train_X,stp_train_y )

Testing for SVM

In [ ]:
y_pred = clf.predict(stp_test_X)
stp_test_y

In [ ]:
##Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
final=metrics.accuracy_score(stp_test_y, y_pred)*100
 Model Accuracy: how often is the classifier correct?
print("Accuracy:",final,"%") #65.354%

**RANDOM FOREST**

In [ ]:
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier
# Create a Random forest Classifier
clf = RandomForestClassifier(n_estimators=1000, random_state=42)
 
# Train the model using the training sets
clf.fit(stp_train_X, stp_train_y)

RandomForestClassifier(n_estimators=1000, random_state=42)

In [ ]:
y_pred_rn = clf.predict(stp_test_X)
stp_test_y

95351     1
250118    0
51801     0
269500    0
161531    1
         ..
47051     0
386825    1
363777    1
144749    1
248947    1
Name: label, Length: 128114, dtype: int64

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
final=metrics.accuracy_score(stp_test_y, y_pred_rn)*100
# Model Accuracy: how often is the classifier correct?
print("Accuracy:",final,"%")

**Gradient-Boost Classifier Model**

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(learning_rate=0.1, n_estimators=5000, max_features='sqrt', subsample=0.8, random_state=10)
clf.fit(stp_train_X, stp_train_y)

In [ ]:
y_pred_xboost = clf.predict(stp_test_X)
stp_test_y

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
final=metrics.accuracy_score(stp_test_y, y_pred_xboost)*100
# Model Accuracy: how often is the classifier correct?
print("Accuracy:{:.3f}".format(final),"%") # 65.459%

In [ ]:
from sklearn.preprocessing import StandardScaler

from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
import matplotlib.pyplot as plt

In [ ]:
# Get the predictions
#
k_pred = clf.predict(stp_test_X)
#
# Calculate the confusion matrix
#
conf_matrix = confusion_matrix(y_true=stp_test_y, y_pred=k_pred)

**Logistic Regression Model**

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(C=3792.690190732246, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=1000, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)
clf.fit(stp_train_X, stp_train_y)

In [ ]:
y_pred_lr = clf.predict(stp_test_X)
stp_test_y

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
final=metrics.accuracy_score(stp_test_y, y_pred_lr)*100
# Model Accuracy: how often is the classifier correct?
print("Accuracy:{:.3f}".format(final),"%") #65.354%

In [ ]:
# Get the predictions
#
k_pred = clf.predict(stp_test_X)
#
# Calculate the confusion matrix
#
conf_matrix = confusion_matrix(y_true=stp_test_y, y_pred=k_pred)

**KNN CLASSIFICATION**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clfknn = KNeighborsClassifier(n_neighbors=600)

# Train the model using the training sets
clfknn.fit(stp_train_X, stp_train_y)
#Predict Output
predicted= clfknn.predict(stp_test_X)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
fin1=metrics.accuracy_score(stp_test_y,predicted )*100

print("Accuracy:",fin1,"%") #57.50

**DECESSION TREE**

In [ ]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# Create Decision Tree classifer object
clfdecession = DecisionTreeClassifier(class_weight=None, max_depth=None,
 max_features=None, max_leaf_nodes=None,
  min_samples_leaf=1,
 min_samples_split=10000, min_weight_fraction_leaf=0.0,
  random_state=None)

# Train Decision Tree Classifer
clfdecession = clfdecession.fit(stp_train_X, stp_train_y)

#Predict the response for test dataset
y_pr = clfdecession.predict(stp_test_X)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(stp_test_y, y_pr)*100,"%") #57.46%